<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>@ViewBag.Title - Flower Center</title>
    <meta name="robots" content="noindex, follow" />
    <meta charset="UTF-8">
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="~/Content/assets/images/favicon.ico">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/Content/assets/css/vendor/bootstrap.min.css">

    <!-- Icon Font CSS -->
    <link rel="stylesheet" href="~/Content/assets/css/vendor/ionicons.min.css">

    <!-- Plugins CSS -->
    <link rel="stylesheet" href="~/Content/assets/css/plugins/slick.css">
    <link rel="stylesheet" href="~/Content/assets/css/plugins/animation.css">
    <link rel="stylesheet" href="~/Content/assets/css/plugins/jqueryui.min.css">
    <link href="~/Content/assets/css/plugins/flag-icon.min.css" rel="stylesheet" />

    <!-- CSS-->
    <link rel="stylesheet" href="~/Content/assets/css/style.css">
    <!-- jQuery JS -->
    <script src="~/Content/assets/js/vendor/jquery-3.3.1.min.js"></script>
    <script src="~/Content/assets/js/custom.js"></script>
    <style>

        @@media only screen and (max-width: 479px) {
            .container-topheader {
                width: 100% !important;
            }
        }
        .breadcrumb-list li, .breadcrumb-title, .breadcrumb-list a {
            color: #ffffff !important;
        }
        .main-menu-area ul > li > a {
            font-size: 11px;
        }
        .theme-btn-custom {
            color: white !important;
            font-size: 14px !important;
            background-color: #ec5195 !important;
            border-color: white;
            border-radius: 25px;
            padding: 12px 35px !important;
        }
        .footer-top {
            background: #43525c;
        }

        .newsletter-icon {
            color: #ffffff;
        }

        .btn-newsletter {
            background: #673ab7;
            border: 1px solid #673ab7;
        }

        .greybg-theme {
            background-color: #4a5664 !important;
        }

        @@media only screen and (min-width: 1200px) and (max-width: 1599px) {
            .hero-slider-one .single-slide {
                height: 461px;
            }
        }
    </style>


</head>
<body>
    <header class="fl-header">
        <!-- Header Top Start -->
        <div class="header-top-area greybg-theme">
            <div class="container container-topheader">
                <div class="row">
                    <div class="col-lg-3 d-none d-lg-block">
                        <div class="social-top">
                            <ul>
                                <li id="facebook" class="mr-10" style=" background: white; padding: 2px 11px; border-radius: 30px;"><a href="https://www.facebook.com/khansflowers/" target="_blank"><i class="ion-social-facebook"></i></a></li>
                                <li id="instagram" class="mr-10" style=" background: white; padding: 2px 9px; border-radius: 30px;"><a href="https://www.instagram.com/FlowerCenter/?hl=en" target="_blank"><i class="ion-social-instagram-outline"></i></a></li>
                                <li id="twitter" class="mr-10" style=" background: white; padding: 2px 7px; border-radius: 30px;"><a href=""><i class="ion-social-twitter-outline" target="_blank"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6 align-self-center text-center">
                        <p class="m-0 small text-uppercase text-light" id="TopHeaderText"></p>
                    </div>
                    <div class="col-lg-3 text-center">
                        <div class="social-top">
                            <ul>
                                <li id="" class="">
                                    <img src="~/Content/assets/images/logo/cod.png" width="50px" />
                                </li>
                                <li id="" class="">
                                    <img src="~/Content/assets/images/logo/banktransfer.png" width="50px" />
                                </li>

                                <li id="" class="">
                                    <img src="~/Content/assets/images/logo/paypal.png" width="50px" />
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Header Top End -->
        <!-- haeader bottom Start -->
        <div class="haeader-bottom-area nav-bg" id="Head">
            <div class="container w-100">
                <div class="row align-items-center">
                    <div class="col-lg-2 col-md-4 col-5">
                        <div class="logo-area">
                            <a href="~/home/index"><img class="main-logo" src="~/Content/assets/images/logo/logo.svg" alt=""></a>
                        </div>
                    </div>
                    <div class="col-lg-8 d-none d-lg-block">
                        <div class="main-menu-area text-center">
                            @Html.Action("Header", "Shared")

                        </div>
                    </div>

                    <div class="col-lg-2 col-md-8 col-7">
                        <div class="right-blok-box d-flex">
                            <div class="search-wrap">
                                <a href="#" class="trigger-search">
                                    <img src="~/Content/assets/images/icon/search.png" />
                                </a>
                            </div>
                            <div class="user-wrap">

                                <a href="~/product/wishlist">
                                    <img src="~/Content/assets/images/icon/wishlist.png" />
                                </a>
                            </div>

                            <div class="shopping-cart-wrap">
                                <a href="~/order/cart">
                                    <img src="~/Content/assets/images/icon/cart.png" />
                                    <span id="cart-total">0</span>
                                </a>
                                <ul class="mini-cart head-cart ">
                                </ul>
                            </div>
                            <div class="login-icon ">

                                @if (Session["CustomerName"] != null)
                                {
                                    <a href="" dropdown-toggle" data-toggle="dropdown"> <img src="~/Content/assets/images/icon/user.png" /></a>
                                    <div class="dropdown-menu alignment p-0 mt-0">
                                        <a class="dropdown-item border-bottom text-center" style="font-size:12px;" href="#"><span class="font-weight-bold">Hi!</span> @Session["CustomerName"]</a>
                                        <a href="~/Order/Myorders" class="about-bg border-bottom dropdown-item font-weight-bold py-4 text-center" style="font-size:12px;">My Orders</a>
                                        <a class="dropdown-item text-center " style="font-size:12px;" href="~/account/logout">Logout</a>
                                    </div>
                                }
                                else
                                {
                                    <a href="~/account/Login_Register?id=1">
                                        <img src="~/Content/assets/images/icon/user.png" />
                                    </a>
                                }

                            </div>
                            <div class="mobile-menu-btn d-block d-lg-none">
                                <div class="off-canvas-btn">
                                    <i class="ion-android-menu">
                                    </i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- haeader bottom End -->
        <!-- main-search start -->
        <div class="main-search-active">
            <div class="sidebar-search-icon">
                <button class="search-close"><span class="ion-android-close"></span></button>
            </div>
            <div class="sidebar-search-input">
                <form>
                    <div class="form-search">
                        <input id="search" class="input-text" value="" placeholder="Search by flower name..." type="search">
                        <button id="search-btn" onclick="Search(); return false;" class="search-btn" type="button">
                            <i class="ion-ios-search"></i>
                        </button>
                    </div>
                </form>
            </div>
        </div>
        <!-- main-search start -->
        <!-- off-canvas menu start -->
        <aside class="off-canvas-wrapper">
            <div class="off-canvas-overlay"></div>
            <div class="off-canvas-inner-content">
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#menu">Menu</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#other">Other</a>
                    </li>
                </ul>
                <div class="btn-close-off-canvas">
                    <i class="ion-android-close"></i>
                </div>
                <div class="tab-content">
                    <div id="menu" class="tab-pane active">
                        <div class="off-canvas-inner">
                            <!-- mobile menu start -->
                            <div class="mobile-navigation">
                                <!-- mobile menu navigation start -->
                                @Html.Action("MobileNavigation", "Shared")

                                <!-- mobile menu navigation end -->
                            </div>
                            <!-- mobile menu end -->
                            <!-- offcanvas widget area start -->
                            <div class="offcanvas-widget-area pt-55">
                                <div class="off-canvas-contact-widget">
                                    <ul>
                                        <li>
                                            <a href="tel:+971552525823"> +971 552525823</a>
                                        </li>
                                        <li>
                                            <a href="mailto:flowercenter.uae@gmail.com">flowercenter.uae@gmail.com</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="off-canvas-social-widget">
                                    <a href="#"><i class="ion-social-facebook"></i></a>
                                    <a href="#"><i class="ion-social-instagram-outline"></i></a>
                                </div>

                            </div>
                            <!-- offcanvas widget area end -->
                        </div>
                    </div>
                    <div id="other" class="tab-pane">
                        <div class="off-canvas-inner">
                            <!-- mobile menu start -->
                            <div class="mobile-navigation">
                                <!-- mobile menu navigation start -->
                                <nav>
                                    <ul class="mobile-menu">
                                        <li><a href="~/home/index">Home</a></li>
                                        <li><a href="~/home/contact">Contact</a></li>
                                        <li><a href="~/home/about">About Us</a></li>

                                        <li><a href="@Url.Action("shop", "shop", new { Category = "", CategoryIDs = "", SubCategoryIDs = "",ColorIDs = "",MinPrice = "AED0",MaxPrice = "AED5000",Searchtext = "",SortID=0})">Shop</a></li>
                                        @if (Session["CustomerName"] != null)
                                        {
                                            <li><a href="~/account/logout">Logout</a></li>
                                        }
                                        else
                                        {
                                            <li><a href="~/account/login_register?id=1">Login</a></li>
                                        }
                                        <li><a href="~/home/Policy">Policy</a></li>
                                        <li><i class="fa fa-icon-globe"></i><a onclick="_lang(); return false;" id="_lang">عربى</a></li>
                                    </ul>
                                </nav>
                                <!-- mobile menu navigation end -->
                            </div>
                            <!-- mobile menu end -->

                        </div>
                    </div>
                </div>
            </div>
        </aside>
        <!-- off-canvas menu end -->
    </header>

    <div class="main-wrapper">
        @RenderBody()
    </div>

    <footer style="background-image:url(../../Content/assets/images/bgfooter.jpg)">
        <div class=" pt-20 pb-40 text-light">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-4 col-md-12">
                        <div class="widget-footer mt-20">
                            <div class="footer-logo">
                                <a href="~/home/index"><img src="~/Content/assets/images/logo/logo-white.svg" style=" width: 130px;" alt=""></a>
                            </div>
                            <p>
                                Flower Center was established in the UAE in 2012 when we started importing artificial flowers and distributing them in the
                                market. In year 2015, we opened our first branch for direct retail selling followed by a second branch.
                            </p>
                            <div class="newsletter-footer">
                                <input class="SubscribeEmail" type="text" placeholder="You Email">
                                <div class="subscribe-button">
                                    <button onclick="getmail(); toast('Thank you: You have been successfully subscribed to Flower Center. we will keep you updated with our latest news and offers', 1); return false; this.value = '';" class="subscribe-btn"><span>Subscribe</span></button>
                                </div>
                                <div class="SubscribeEmail-Res"></div>
                            </div>
                        </div>
                    </div>
                    <div class="offset-lg-1"></div>
                    <div class="col-lg-2 col-md-6">
                        <div class="widget-footer mt-30">
                            <h6 class="title-widget text-light">QUICK LINK</h6>
                            <ul class="footer-list">
                                <li><a href="~/home/index">Home</a></li>
                                <li><a href="~/home/contact">Contact</a></li>
                                <li><a href="~/home/about">About Us</a></li>
                                <li><a href="@Url.Action("shop", "shop", new { Category = "", CategoryIDs = "", SubCategoryIDs = "",ColorIDs = "",MinPrice = "AED0",MaxPrice = "AED5000",Searchtext = "",SortID=0})">Shop</a></li>
                                @if (Session["CustomerName"] != null)
                                {
                                    <li><a href="~/account/logout">Logout</a></li>
                                }
                                else
                                {
                                    <li><a href="~/account/login_register?id=1">Login</a></li>
                                }
                                <li><a href="~/home/Policy" target="_blank">Policy</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="offset-lg-1"></div>
                    <div class="col-lg-4 col-md-6">
                        <div class="widget-footer mt-30">
                            <h6 class="title-widget text-light">QUICK CONTACT</h6>
                            <ul class="footer-contact">
                                <li>
                                    <label><span>Phone</span></label>
                                    <a href="tel:+971524315121"><span>+971524315121 </span></a>
                                </li>
                                <li>
                                    <label><span>Email</span></label>
                                    <a href="mailto:flowercenter.uae@gmail.com">flowercenter.uae@gmail.com</a>
                                </li>
                                <li>
                                    <label><span>Address</span></label>
                                    <span>
                                        SHARJAH, UAE
                                    </span>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="toast toast-pos" style="z-index:10000000">
            <div class="toast-header border-0 bg-transparent">
                <strong class="mr-auto toast-head-text ">Item Added</strong>
                <button type="button" class="ml-2 mb-1 close" data-dismiss="toast">&times;</button>
            </div>
            <div class="toast-body">
                Item added to cart
            </div>
        </div>
        <div class="footer-bottom" style="background-color: transparent; border-top:1px solid #ffffff">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="copy-right-text text-center text-light">
                            <p>Copyright &copy; Flower Center UAE, ALL RIGHTS REGISTERED</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <style>
        .modal-content {
            border-radius: 1rem
        }

            .modal-content:hover {
                box-shadow: 2px 2px 2px black
            }

        .b1 {
            background-color: #2b84be;
            box-shadow: 0px 4px #337095;
            font-size: 17px
        }

        .r3 {
            color: #c1c1c1;
            font-weight: 500
        }
    </style>
    <div class="modal fade" id="staticBackdrop" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-md" role="document">
            <div class="modal-content p-4 text-center">
                <h3 id="modalTitle" style=" color: #009688; font-family: 'AlexBrush';"></h3>
                <div>
                    <img id="modalImg" src="" />
                </div>
                <p class="r3 px-md-5 px-sm-1" id="modalDescription"></p>
                <div class="text-center mb-3"> <a class="btn btn-primary rounded-pill b1" style=" background: #009688; color: white;" id="modalButton">View Details</a> </div>

            </div>
        </div>
    </div>

    <script type="text/javascript">
        (function () {
            var options = {
                whatsapp: "+971524315121", // WhatsApp number
                call_to_action: "Message us", // Call to action
                position: "right", // Position may be 'right' or 'left'
                pre_filled_message: "How can i help you", // WhatsApp pre-filled message
            };
            var proto = document.location.protocol, host = "getbutton.io", url = proto + "//static." + host;
            var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = url + '/widget-send-button/js/init.js';
            s.onload = function () { WhWidgetSendButton.init(host, proto, options); };
            var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x);
        })();
    </script>
    <!-- JS -->
    <script src="~/Content/assets/js/product-menu.js"></script>
    <!-- Modernizer JS -->
    <script src="~/Content/assets/js/vendor/modernizr-3.6.0.min.js"></script>

    <!-- Bootstrap JS -->
    <script src="~/Content/assets/js/vendor/popper.min.js"></script>
    <script src="~/Content/assets/js/vendor/bootstrap.min.js"></script>

    <!-- Slick Slider JS -->
    <script src="~/Content/assets/js/plugins/slick.min.js"></script>
    <!--  Jquery ui JS -->
    <script src="~/Content/assets/js/plugins/jqueryui.min.js"></script>
    <!--  Scrollup JS -->
    <script src="~/Content/assets/js/plugins/scrollup.min.js"></script>
    <script src="~/Content/assets/js/plugins/ajax-contact.js"></script>

    <script src="~/Content/assets/js/cookie/js.cookie.js"></script>
    <script src="~/Content/assets/js/cookie/js.cookie.min.js"></script>

    <!-- Main JS -->
    <script src="~/Content/assets/js/main.js"></script>
    @RenderSection("scripts", false)

    <script>


        var input = document.getElementById("search");
        input.addEventListener("keyup", function (event) {
            if (event.keyCode === 13) {
                event.preventDefault();
                document.getElementById("search-btn").click();
            }
        });

        window.onscroll = function () { myFunction() };

        var header = document.getElementById("Head");
        var sticky = header.offsetTop;

        function myFunction() {
            if (window.pageYOffset > sticky) {
                header.classList.add("nav-fixed-top");
            } else {
                header.classList.remove("nav-fixed-top");
            }
        }
        function Search() {
            var Searchtxt = $("#search").val();


            window.location.href = '/shop/shop?Category=""&CategoryIDs=' + '' + '&SubCategoryIDs=' + "" + '&ColorIDs=' + '' + '&MinPrice=' + 'AED0' + '&MaxPrice=' + 'AED5000' + '&Searchtext=' + Searchtxt + '&SortID=' + 0 + '';
        }

    </script>

    <script src="~/language/translations.js">

    </script>
</body>
</html>
